<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.avem.kspad">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.KSPAD"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WithoutHeadTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Experiment1Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment2Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment3Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment4Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment5Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment6Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment7Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment8Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment9Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment10Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment11Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment12Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment13Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment14Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment15Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".view.Experiment16Activity"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".database.view.DatabaseActivity"
            android:label="База данных к КСПАД"
            android:screenOrientation="locked"
            android:theme="@style/WithHeadTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".database.view.SubjectActivity"
            android:label="Редактор объекта"
            android:screenOrientation="locked"
            android:theme="@style/WithHeadTheme">
        </activity>

        <activity
            android:name=".view.DevicesStatusActivity"
            android:label="Состояние устройств"
            android:screenOrientation="locked"
            android:theme="@style/WithHeadTheme">
        </activity>
        <activity android:name=".view.SubjectPassiveActivity"
                  android:label="Объект испытания"
                  android:screenOrientation="locked"
                  android:theme="@style/WithHeadTheme">
        </activity>
        <activity android:name=".view.ProtectionsActivity"
                  android:label="Состояние защит"
                  android:screenOrientation="locked"
                  android:theme="@style/WithHeadTheme">
        </activity>
        <activity android:name=".view.EventsActivity"
                  android:label="Журнал событий"
                  android:screenOrientation="locked"
                  android:theme="@style/WithHeadTheme">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>